.search { margin-left: 0; }

.input-block {
    text-align: center;
}

.icon {
    border: 1px dashed #ccc;

    height: 45px;
    line-height: 20px;
}

.material-icons {

    font-size: 250%;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    /* padding: 4px; */
}

.ticker-icon {
    text-align: center;
    width: 90%;
    font-size: 80%;
    margin: 0 auto;
    padding: 4px;
}

.ticker-label {
    width: 90%;
    margin: 5px auto;
    padding: 4px;

}

.ticker-input {
    width: 90%;
    margin: 5px auto;
    padding: 4px;

}

#tickerField {
    line-height: 30px;
    width: 133.5px;
    font-size: 80%;
    text-align: center;
}

.ticker-button {
    width: 90%;
    margin: 20px auto 5px;
    padding: 4px;
}

.submit { text-align: center; }

.button {
    padding: 7px 45px;
    font-weight: 300;
    font-size: 90%;
    text-decoration: none;
    border: 1px solid #13aaea;
    background-color: #13aaea;
    color: white;
    border-radius: 20px;
    transition: background-color 0.2s, border 0.2s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: background-color 0.2s, border 0.2s;
    -moz-transition: background-color 0.2s, border 0.2s;
    -ms-transition: background-color 0.2s, border 0.2s;
    -o-transition: background-color 0.2s, border 0.2s;
}

.button:hover,
.button:active {
    border: 1px solid #0d77a4;
    background-color: #0d77a4;
}